/*Aqui comecei por resetar o meu documento html e o meu body*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--cor-body);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Aqui terminei de resetar o meu documento html e o meu body*/

/*Var Section*/
:root {
    --cor-body: #0A0C10;
    --cor-menu: #272B33;
    --cor-text-menu: #ffffff;

    --cor-btn-bg: #272B33;
    --cor-btn-border: #7A828E;
    --cor-btn-text: #F0F3F6;

    --cor-line-orange: #FF967D;

    --color-main-bg: ;
    --color-main-border: #7A828E;
    --color-btn-code: #09B43A;
    --color-btn-code-bg: #12d349;

    --color-link: #71B7FF;

    --color-btn-hover-border: #BDC4CC;
    --color-btn-hover-bg: #525964;
    --color-border: #525964;
}
/*End Var Section*/

/*Aqui comecei a estilizar o meu header*/
#primeiro {
    display: flex;
    padding: 12px 32px;
    
    background: var(--cor-menu);
    color: var(--cor-text-menu);
    
    font-size: 13px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}

#primeiro > .header1 {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.search {
    display: flex; 
    padding: 0px 12px;
    width: 270px; 
    
}

.search svg {
    margin-left: -25px;
    justify-self: center;
    align-self: center;
    width: 23px;
   
}

.search input {
    width: 250px;
    padding: 3px 12px;
    font-size: 14px;
    background: var(--cor-body);
    border-radius: 5px;
    border: 1px solid var(--cor-btn-border);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor-text-menu);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 350px ;
    margin-left: 10px;
}

nav > div  {
    display: flex;
    
    
}

nav a {
    list-style-type: none;
    color: var(--cor-text-menu) ;
    text-decoration: none;
}

.header-float-right {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 40%; 
        
}

.header-float-right > div {
    display: flex;
    width: 38px;
    
}

.header-img-profile img{
    display: Flex; 
    width: 24px;
    height: 24px;
    border: 1px solid var(--cor-text-menu);
    border-radius: 50%;
}


/*Aqui terminei de estilizar o meu header*/

#up {
    display: flex;
    justify-items: center;
    align-items: center;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-bottom: 20px;
}

.esquerda {
    margin-left: 30px;
    color: var(--cor-btn-text);
}

.esquerda a {
    font-size: 19px;
    
    color: var(--color-link);
    text-decoration: none;
}

.publico {


    padding: 1px 5px;
    font-size: 11px;

    border-radius: 20px;
    border: 1px solid var(--cor-btn-border);

    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.direita {
    display: flex;
    margin-left: 410px;

   
}

.direita ul {
    display:flex;
    width: 390px;
    list-style: none;
    justify-content: space-between;
    padding: 2px 0px;
}

.direita svg {
        padding: 0px 6px 0px 0px;
}
.direita button {
    display: inline-flex;
    justify-content: space-around;
    padding: 5px;

    border-radius: 7px;
    border: 1px solid var(--cor-btn-border);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: bold;

    color: var(--cor-btn-text);
    background: var(--cor-btn-bg);
}


/*------------------------------------------*/


#down {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

#down nav {
           
    width: 90%;
   
}

#down ul {
    display:flex;
  
    list-style: none;
    width: 90%;

    padding: 0px 25px;
    margin: 0px;

    color: var(--cor-btn-text);
    font-size: 14px;
}

#down a {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.line-orange {
    padding-bottom: 10px;
    margin-bottom: 0.1px;
    border-bottom: 2px solid var(--cor-line-orange);
}

#down svg {
    padding: 0px 10px 0px 0px;
}


/*///////////////////// MAIN ////////////////////*/
main {
    margin: 0px;
    padding: 24px 80px;
  
    border-top: 1px solid var(--cor-btn-border); 
    
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh 25vh 25vh 10vh;

    gap: 20px;
}

.container-main1 {
    grid-column: 1/4;
    grid-row: 1/2;

    display: flex;
    justify-content: space-between;
    align-items: flex-start; 


}

.main-esquerda { 
    display: flex;
    width: 35%; 
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-esquerda ul{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-esquerda ul a {
    display: flex;
    justify-self: space-between;
    align-items: center;
    text-decoration: none; 
    color: var(--cor-btn-text);
    margin-left: 10px;
}

.main-esquerda ul svg, strong {
    margin-right: 5px;
}

#a-principal {
    background: var(--cor-btn-bg);
    padding: 5px 16px 5px 0px;
   
    border: 1px solid var(--cor-btn-border);
    border-radius: 7px;
}

#a-principal:hover {
    background: var(--cor-btn-bg);
    border: 1px solid var(--cor-btn-border);
}

.main-direita {
    display: flex;
    justify-content: flex-end;
    
    width: 50%;

    font-size: 14.5px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.main-direita a {
    border: 1px solid var(--cor-btn-border);
    display: flex;
    color: var(--cor-btn-text);
    text-decoration: none;
    background: var(--cor-btn-bg);
    padding: 5px 14px;
    border-radius: 7px;
    
    margin-right: 10px;
}

.main-direita a:hover {
    background: var(--color-btn-hover-bg);
    border: 1px solid var(--color-btn-hover-border);
}

#codigo {
    display: flex;
    align-items: center;
    margin-right: 0px;
    background: var(--color-btn-code);
    color: var(--cor-body);

}

#codigo svg {
    margin-right: 5px;
}

#codigo:hover {
    background: var(--color-btn-code-bg);
}


.box1 {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/3;

    border-radius: 7px;
    border: 1px solid var(--cor-btn-border);
}

.box1 img {
    display: Flex; 
    width: 24px;
    height: 24px;
  
    border: none;
    border-radius: 50%;
    
    margin-right: 10px;
}

.a1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 7px 7px 0px 0px;
    background: var(--cor-btn-bg);

    padding: 0px 5px;
}

.esquerda-a1 {
   font-size: 14px;
}

.esquerda-a1 ul {
    display: flex;
    list-style: none;
    
    margin: 0px;
    padding: 5px;
    
}

.esquerda-a1 a {
    display: flex;
    text-decoration: none;
    margin-right: 7px;
    color: var(--cor-btn-text);
    padding: 0px;
    margin: 0px 4px;
}

.direita-a1 {
    font-size: 14px;
    padding: 0px;
    margin:0px;
 }
 
 .direita-a1 ul {
     display: flex;
     list-style: none;

     margin: 0px;
     padding: 5px;
     
 }
 
 .direita-a1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 7px;
    color: var(--cor-btn-text);
    padding: 0px;
    margin: 0px 4px;
 }

 .direita-a1 svg {
  
    margin: 0px 4px;
 }


.a2 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid var(--cor-btn-border);

    font-size: 13px;
    
}

.a2:hover {
    background: var(--cor-btn-bg);
}

.a2 ul{
   
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
}

.a2 a {
    
    text-decoration: none;
    color: #ffffff;   
}


.a3 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-radius: 0px 0px 7px 7px;

    font-size: 13px;
    
}

.a3:hover {
    background: var(--cor-btn-bg);
}

.a3 ul{
   
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
}

.a3 a {
    
    text-decoration: none;
    color: #ffffff;   
}



#box2 {
    display: grid;
    grid-column: 1/4;
    grid-row: 3/4;

    border-radius: 7px;
}

.b1 {
    border-radius: 7px 7px 0px 0px;
    border: 1px solid var(--cor-btn-border);
    border-bottom: none;
    padding: 0px 0px;

}

.b1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    margin: 16px;
    list-style: none;
    
}

.b1 a {
    text-decoration: none;
    color: var(--cor-btn-text);

}


.b2 {

    padding: 16px 32px 32px;
    margin: 0px 0px -1px;
    border-radius: 0px 0px 7px 7px;
    border: 1px solid var(--cor-btn-border);
    border-top: none;

}

.b2 h1 {
    color: var(--cor-btn-text);
    margin: 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid var(--cor-btn-border);
}

.b2 p {
    color: var(--cor-btn-text);
}

.container-main2 {
    display: grid;
    grid-column: 4/6;
    grid-row: 1/2;

    border-radius: 7px;

    width: 100%;
    
}

.box-grid1 {

    border-bottom: 1px solid var(--cor-btn-border);
    padding-bottom: 24px;

}


.box-grid1 div {
 
    margin-bottom: none; 
 
}

.box-grid1 a {
    font-size: 14px;
    text-decoration: none;
    color: var(--cor-btn-text);

    display: flex;
    align-items: center;
    
}

.box-grid1 svg {
    margin-right: 7px;
}


h2 {
    display: flex;
    justify-content: space-between;

    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-size: 16px;

}


p {
    color: #ffffff;
}


.box-grid2 {
    border-bottom: 1px solid var(--cor-btn-border);
    padding-top: 24px;
    padding-bottom: 24px;
 
}


.box-grid3 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.font1 {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 30px;
    color: var(--cor-btn-text);
}

.font1:hover {
    Color:var(--color-link);
}

.font2 {
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 10px;
    color: var(--cor-btn-text);
}

.font3 {
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 10px;
    color: var(--color-link);
}

.font3:hover {
    text-decoration: underline;
}

.mt-2 a {
    margin-bottom: 10px;
}

footer {
    text-decoration: none;
    list-style: none;
    border-top: 1px solid var(--cor-btn-border); 
}

nav {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.mr-3 ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.mr-3 a {
    display: flex;
    list-style: none;
    text-decoration: none;
}