/*Aqui comecei por resetar o meu documento html e o meu body*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #bf7a7a;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Aqui terminei de resetar o meu documento html e o meu body*/

/*Var Section*/
:root {
    --color-header-text: rgba(255, 255, 255, 0.7);
    --color-bg-header: rgb(39 43 51);
}
/*End Var Section*/

/*Aqui comecei a estilizar o meu header*/
#primeiro {
    display: flex;
    padding: 16px 32px;
    
    background: var(--color-bg-header);
    color: var(--color-header-text);
    
    font-size: 13px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}

#primeiro > .header1 {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.search {
    display: flex; 
    padding: 0px 12px;
    width: 270px; 
    
}

.search svg {
    margin-left: -25px;
    justify-self: center;
    align-self: center;
    width: 23px;
   
}

.search input {
    width: 250px;
    padding: 3px 12px;
    font-size: 14px;
    background: #0A0C10;border-radius: 5px;
    border: 1px solid rgba(172, 170, 170, 0.569);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 350px ;
    margin-left: 10px;
}

nav > div  {
    display: flex;
    
    
}
nav a {
    list-style-type: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header-float-right {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 46%; 
        
}

.header-float-right > div {
    display: flex;
    width: 38px;
    
}

.header-img-profile img{
    display: Flex; 
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 50%;
}


#line {
    border: 1px solid #fff;
    margin-top: -15px;
    opacity: 50%;
}

/*Aqui terminei de estilizar o meu header*/

#up {
    display: flex;
    justify-items: center;
    align-items: center;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.esquerda {
    margin-left: 30px;
}

.esquerda a {
    font-size: 18px;
    
    color: #71B7FF;
    text-decoration: none;
}

.direita {
    display: flex;
    margin-left: 600px;
}

.direita ul {
    display:flex;
    width: 390px;
    list-style: none;
    justify-content: space-between;

    color: #f0f3f6;
    font-size: 14px;
    padding: 2px 0px;
    
}


/*------------------------------------------*/


#down {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#down nav {
    
    width: 90%;
   
}

#down ul {
    display:flex;
    justify-content: space-between;
    align-content: center;

    list-style: none;
    width: 75%;

    padding: 10px 30px;
    
}



/*///////////////////// MAIN ////////////////////*/
main {
    margin: 0px;
    padding: 24px 100px;
    height: auto;
    border: 1px solid #00ffa6 ;   
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 25vh 25vh 40vh;

    gap: 20px;
}

.container-main1 {
    grid-column: 1/4;
    grid-row: 1/2;

    display: flex;
    justify-content: space-between;
    align-items: flex-start; 


}

.main-esquerda { 
    display: flex;
    width: 35%; 
    
    border: 2px solid #09B43A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-esquerda ul{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-esquerda ul a {
    display: flex;
    justify-self: space-between;
    align-items: center;
    text-decoration: none; 
    color: white;
    margin-left: 10px;
}

.main-esquerda ul svg, strong {
    margin-right: 5px;
}

#a-principal {
    background: #272B33;
    padding: 5px 16px 5px 0px;
   
    border: 1px solid #c1c1c1;
    border-radius: 7px;
}

#a-principal:hover {
    background: #515254;
}

.main-direita {
    display: flex;
    justify-content: flex-end;
    
    width: 50%;

    font-size: 14.5px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.main-direita a {
    border: 1px solid #c1c1c1 ;
    display: flex;
    color:#ffffff;
    text-decoration: none;
    background: #272B33;
    padding: 5px 14px;
    border-radius: 7px;
    
    margin-right: 10px;
}

#codigo {
    display: flex;
    align-items: center;
    margin-right: 0px;
    background: #09B43A;
    color: #0A0C10;
}

#codigo svg {
    margin-right: 5px;
}

.container-main2 {
    display: grid;
    grid-column: 4/6;
    grid-row: 1/2;

    border-radius: 7px;
    border: 1px solid #fbff00 ;
    display: flex;    
    height: 469px;   
}

.box1 {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/3;

    border-radius: 7px;
    border: 1px solid #66ff00;
}

.a1 {
    display: flex;
    padding: 10px;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #000000;
}

.a1 li {
    display: flex;
    justify-content: space-between;
}
.a1 img {
    display: Flex; 
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
}
.a2 {
    border: 1px solid #000000;
}
.a3 {
    border-radius: 0px 0px 7px 7px;
    border: 1px solid #000000;
}

#box2 {
    display: grid;
    grid-column: 1/4;
    grid-row: 3/4;

    border-radius: 7px;
    border: 1px solid #ff0000;
}

.b1 {
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #000000;
}

.b2 {
    border-radius: 0px 0px 7px 7px;
    border: 1px solid #000000;
}


.cm1 {
    display: flex;
    justify-content: space-between;
}

.ionicon {
    
}